@{
    ViewData["Title"] = "Create Client";
}
@model MyCRM_Online.Models.Client

<div class="text-center">
    <h1 class="display-4">Новый клиент</h1>

    <form class="client-form" asp-antiforgery="true" asp-action="Create" asp-controller="Clients">
        <div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">* Фамилия, Имя</label>
                <input class="form-control" type="text" asp-for="Name" placeholder="Иванов Иван" />
                <span style="color:red" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nickname">Ник (nickname)</label>
                <input class="form-control" type="text" asp-for="Nickname" />
            </div>
            <div class="form-group">
                <label asp-for="Phone">Телефон</label>
                <input class="form-control" type="text" asp-for="Phone" placeholder="048 777 55 33" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" type="text" asp-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Country">Страна</label>
                <select class="form-control" asp-for="CountryId">
                    <option>-- Выбрать --</option>
                    @foreach (var country in ViewBag.Countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="City">Город</label>
                <input class="form-control" type="text" asp-for="City" />
            </div>
            <div class="form-group">
                <label asp-for="Address">Адрес</label>
                <input class="form-control" type="text" asp-for="Address" />
            </div>
            <div class="form-group">
                <label asp-for="ShippingMethod">Способ доставки</label>
                <select class="form-control" asp-for="ShippingMethodId">
                    <option>-- Выбрать --</option>
                    @foreach (var shippingMethod in ViewBag.ShippingMethods)
                    {
                        <option value="@shippingMethod.Id">@shippingMethod.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode">Отделение</label>
                <input class="form-control" type="text" asp-for="PostalCode" />
            </div>
            <div class="form-group">
                <label asp-for="Notes">Примечания</label>
                <input class="form-control" type="text" asp-for="Notes" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Добавить" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }