@{
    ViewData["Title"] = "Add Client";
}

<div class="text-center">
    <h1 class="display-4">Новый клиент</h1>

    <form asp-controller="Clients" asp-action="AddClient" method="post">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">ФИО</label>
            <div class="col-sm-8">
                <input type="text" name="Name" class="form-control" placeholder="Иванов Иван">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Nickname</label>
            <div class="col-sm-8">
                <input type="text" name="Nickname" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Телефон</label>
            <div class="col-sm-8">
                <input type="text" name="Phone" class="form-control" placeholder="048 777 55 33">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-8">
                <input type="email" name="Email" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Страна</label>
            <div class="col-sm-8">
                <select class="form-control" name="CountryId">
                    <option>-- Выбрать --</option>
                    @foreach (var country in ViewBag.Countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Город</label>
            <div class="col-sm-8">
                <input type="text" name="City" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Адрес</label>
            <div class="col-sm-8">
                <input type="text" name="Address" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Доставка</label>
            <div class="col-sm-8">
                <select class="form-control" name="ShippingMethodId">
                    <option>-- Выбрать --</option>
                    @foreach (var shippingMethod in ViewBag.ShippingMethods)
                    {
                        <option value="@shippingMethod.Id">@shippingMethod.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Отделение</label>
            <div class="col-sm-8">
                <input type="text" name="PostalCode" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Примечания</label>
            <div class="col-sm-8">
                <input type="text" name="Notes" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-8">
                <input class="btn btn-primary" type="submit" value="Добавить" />
            </div>
            
        </div>
    </form>   
</div>