html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*th, td {
    text-align: left;
}

table, tr {
    width: 100%;
    border: 1px solid;
}*/

.form-group {
    text-align: left;
    width: 50%;
    margin: 5px 0px 5px 0px  ;
}

